.coffee-house {
   font-family: 'Arial', sans-serif;
   background-color: #f5e5c8;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url('https://images.pexels.com/photos/942803/pexels-photo-942803.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.8);

   .header {
      color: orangered;
   }
}